html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

html {
  font-family: 'helvateca neue', sans-serif;
}

/* Header style */
.nav {
  text-align: right;
  height: 50px;
  line-height: 70px;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  line-height: 70px;
}

.hamburg {
  margin: 0 40px 0 0;
  font-size: 30px;
  width: 30px;
  float: right;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

#wrapper {
  background: url(../Media/cheese-close-up-crust-1049620.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  overflow: hidden;
}

#welcome {
  color: #ffffff;
  text-align: center;
  padding-top: 10%;
}

#welcome2 {
  display: none;
}

.pate {
  color: #ffffff;
  text-align: center;
  padding-top: 4%;
}

/* nouvelle section */
.icons-container {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  padding-bottom: 4%;
}

.icon i {
  color: #4cc552;
  padding-left: 30%;
}

.icon h4 {
  color: #4cc552;
  padding-left: 17%;
}

.icon p {
  color: #e8a317;
}

@media only screen and (max-width: 500px) {
  .hamburg {
    cursor: pointer;
    display: block;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #4cc552;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }

  .nav {
    color: #ffffff;
  }

  #welcome {
    display: none;
  }
  .pate {
    color: #ffffff;
    text-align: center;
    padding-top: 35%;
  }

  #welcome2 {
    display: block;
    padding-right: 30%;
    padding-top: 18%;
  }

  .icons-container {
    flex-direction: column;
    justify-content: center;
    padding-left: 6%;
  }

  .icon i {
    padding-left: 35%;
  }
  .icon h4 {
    color: #4cc552;
    padding-left: 25%;
  }

  .icon p {
    padding-left: 4%;
    font-size: 15px;
  }
}

@media (max-width: 501px) {
  #welcome2 {
    display: block;
    padding-top: 17%;
    padding-right: 22%;
  }

  .icon i {
    padding-right: 45%;
  }

  .icon h4 {
    color: #4cc552;
    padding-right: 1%;
  }

  .icon p {
    padding-left: 4%;
  }
}

/* Reseau social */

@font-face {
  font-family: 'Genericons';
  src: url(../fonts/genericons-regular-webfont.woff) format('woff'),
    url(../fonts/genericons-regular-webfont.eot) format('truetype');
}

.social-network {
  width: 90%;
  /* margin-left: 0%; */
  /* margin: 50px 45px; */
  margin: 50px auto;
  padding-bottom: 10%;
}

.entete {
  text-align: center;
  margin-bottom: 10px;
  color: #4cc552;
}

.accordeon {
  background: #c58917;
  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  height: 200px;
  overflow: hidden;
  font-size: 0;
  border-radius: 20px;
  /* padding-left: 2%; */
}

.tab {
  display: inline-block;
  background-color: #e8a317;
  border-right: #c58917 solid 1px;
  width: 170px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 622px;
}

.tab:hover .social a:before {
  margin-left: -130px;
}

.tab:hover .social a:after {
  margin-left: -2px;
}

.tab .contenu {
  background: #ffffff;
  height: 200px;
  width: 622px;
  margin-left: 170px;
  position: relative;
  padding: 5px 0 0 15px;
}

.tab .contenu h3 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.tab .contenu p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  padding-right: 3%;
  color: #e8a317;
}

.social a:before,
.social a:after {
  transition: all 0.4s ease-in-out 0.1s;
  width: 150px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 80px;
  padding-left: 55px;
  display: block;
  font: normal 60px Genericons;
  color: #ffffff;
}

.social a:after {
  font-size: 60px;
  padding-left: 50px;
  padding-top: 70px;
  margin-left: 170px;
}

/* Youtube*/
.youtube a:before,
.youtube a:after {
  content: '\f213';
}

.youtube a:after {
  background-color: #ff0000;
}

/*Facebook*/

.facebook a:before,
.facebook a:after {
  content: '\f204';
}

.facebook a:after {
  background-color: #4863a0;
}

/*Instagram*/
.instagram a:before,
.instagram a:after {
  content: '\f215';
}

.instagram a:after {
  background-color: #e4317f;
}

/*Twitter*/
.twitter a:before,
.twitter a:after {
  content: '\f202';
}

.twitter a:after {
  background-color: #56a5ec;
}

@media (max-width: 1000px) {
  .social-network {
    width: 100%;
    /* padding-left: 2px; */
    /* margin: 50px; */
  }

  .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #c58917 solid;
  }

  .accordeon {
    display: block;
    min-width: 500px;
    height: auto;
  }

  .tab .contenu {
    width: 85%;
  }

  .tab:hover {
    width: 100%;
  }
}

/* @media (max-width: 768px) {
  .social-network {
    width: 95%;
    padding-right: 25%;
  }

  .accordeon {
    width: 100%;
    min-width: 250px;
  }
} */

@media only screen and (max-width: 768px) {
  /* .social-network {
    width: 100%;
    padding-right: 25%;
  } */
  /* .tab {
    width: 100px;
  } */
  /* .accordeon {
    width: 90%;
    min-width: 250px;
  } */
}

@media (max-width: 460px) {
  .entete {
    font-size: 0.6rem;
  }
  .social-network {
    width: 100%;
    padding-right: 25%;
  }

  .accordeon {
    width: 90%;
    min-width: 250px;
  }

  .tab .contenu h3 {
    font-size: 1.6rem;
    margin-top: 80px;
    color: #c58917;
  }

  .tab .contenu p {
    display: none;
  }
}

/* @media (min-width: 425px) {
  .tab .contenu h3 {
    font-size: 2rem;
    margin-top: 80px;
    color: #c58917;
  }
} */

@media (max-width: 322px) {
  .tab .contenu h3 {
    font-size: 1.2rem;
    margin-top: 80px;
    color: #c58917;
  }
}

/*Footer*/
.foot {
  background-color: #c58917;
}

.foot p {
  color: #ffffff;
}

.foot-p {
  padding-top: 2%;
  text-align: center;
}

.copyright {
  padding-left: 2%;
  padding-bottom: 1%;
}
